Flask
opentelemetry-distro
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-flask
gunicorn
babel
flask-babel
flask-wtf
wtforms
flask-sqlalchemy
psycopg2-binary
alembic
flask-migrate
flask-login
flask-mail
flask-bootstrap
flask-moment
flask-debugtoolbar
flask-caching
redis
flask-session
flask-whooshee
flask-uploads
Pillow
pytest
pytest-flask
pytest-coverage
pytest-mock
pytest-xdist
coverage
sphinx
sphinx-rtd-theme
twine
boto3       
huggingface_hub[cli,torch,tensorflow]
transformers
torch
tensorflow
authlib
flask-httpauth
rauth
python-dotenv
email-validator
flask-cors
pyjwt
flask-limiter
bcrypt